<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.callum.cookbook" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoListActivity"
            android:label="@string/title_activity_recipes"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Instructions"
            android:label="@string/title_activity_instructions"
            android:parentActivityName=".PhotoListActivity" >
        </activity>
        <activity
            android:name=".SavedRecipeActivity"
            android:label="@string/title_activity_saved"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SavedInstructions"
            android:label="@string/title_activity_instructions"
            android:parentActivityName=".SavedRecipeActivity" >
        </activity>
        <activity
            android:name=".MealPlanActivity"
            android:label="@string/meal_plan"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".MealPickerActivity"
            android:label="@string/meal_choices"
            android:parentActivityName=".MealPlanActivity" >
        </activity>
    </application>

</manifest>
